body {
  background-color: #333;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size: auto;
  height: 100vh;
  width: 100%;
}
@keyframes hovering {
  0% {
    top: 0%;
  }
  50% {
    top: -4%;
  }
  100% {
    top: 0%;
  }
}
#wrapper {
  height: 88vh;
  margin: 0;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-rows: 1fr 1fr;
}
#wrapper.oof {
  animation-name: ouch;
  animation-duration: 0.8s;
}
@keyframes ouch {
  from {
    background-color: rgba(255, 0, 0, 0.6);
  }
  to {
    background-color: none;
  }
}
#main-window {
  display: flex;
  /* background-color: rgb(24, 0, 102); */

  justify-content: center;
  height: 80vh;

  grid-column-start: 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 3%;
}
#top-half {
  /* background-image: url(/Photos/Alien4.png); */
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 1;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#alien {
  opacity: 0.95;
  left: 100px;
  height: 325px;
  position: relative;
  overflow: hidden;
  z-index: -5;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#top-container {
  height: 12vh;
  background: linear-gradient(
    180deg,
    #696969 0%,
    #ffffff 7%,
    #949494 50%,
    #7e7d7d 90%,
    #383838 100%
  );
  color: white;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 45%;
  overflow: hidden;
}
.op-button {
  border-radius: 50px;
  font-family: mission;
  background-color: #505050;
  /* background-image: url(/Photos/galaxy.jpg); */
  border:2px solid rgb(0, 0, 0);
  font-size: 33px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
#start {
  grid-column-start: 1;
  grid-row-start: 1;
  color: white;
  
  font-size: 28px;
  text-align: center;
  height: 53.02px;
}
#play-again {
  grid-column-start: 1;
  grid-row-start: 1;
  display: none;
  font-size: 25px;
  text-align: center;
  
  height: 53.02px;
}
#score{
  font-family: outage1;
  grid-column-start: 4;
  grid-row-start: 1;
  background-color: rgb(93, 88, 88);
  overflow: hidden;
  color: white;
  font-size: 20px;
  height: 9%;
  width: 80%;
  margin-left: -13%;
  border-radius: 10px;
  border: 5px solid #111;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  padding: 2%;
  opacity: 0.85;
}
#light-container {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #4e5255);
  position: relative;

  border-radius: 50%;
  width: 39%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 5px;
  border: 2px solid rgb(31, 31, 31);
  border: 6px double rgb(156, 156, 156);
  opacity: 0.97;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.barholder {
  display: flex;
}
.bar {
  width: 3%;

  background-color: rgb(77, 50, 95);
  border-left: 8px solid rgb(36, 18, 36);
  border-right: 9px solid rgb(97, 66, 97);
}
#barholder1 {
  grid-column-start: 2;
  grid-row-start: 1;
}
#barholder2 {
  grid-column-start: 4;
  grid-row-start: 1;
  justify-content: right;
}
.side-window {
  background-color: rgb(132, 205, 214);
}
#side-window1 {
  grid-column-start: 1;
  grid-row: 1/3;
  opacity: 0.05;
}

#side-window2 {
  grid-column-start: 5;
  grid-row: 1/3;
  opacity: 0.05;
}
@keyframes greens {
  0% {
    border-bottom: 30px solid rgb(46, 231, 22);
  }
  50% {
    border-bottom: 30px solid rgb(46, 231, 22);
  }
  100% {
    border-bottom: 30px solid rgb(30, 176, 202);
  }
}
#btn-container {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #64696d);
  opacity:.95;
  border-radius: 50%;
  height: 95%;
  width: 100%;
  margin: 0 auto;
  border-bottom: 30px solid rgb(30, 176, 202);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 12px;
  box-sizing: border-box;
}
#btn-container.nice {
  animation-name: greens;
  animation-duration: 1.5s;
}

audio {
  display: none;
}
#song {
  display: none;
}
#bottom-button-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  z-index: 10;
}
#right-right-triangle {
  display: flex;
  justify-content: left;
  grid-column-start: 5;
  grid-row-start: 2;
  box-sizing: border-box;
  border-bottom: 100px solid rgb(82, 82, 82);
  border-right: 398px solid transparent;
  z-index: 10;
}
#left-right-triangle {
  display: flex;
  justify-content: right;
  grid-column-start: 1;
  grid-row-start: 2;
  border-bottom: 100px solid rgb(82, 82, 82);
  border-left: 198px solid transparent;
  z-index: 10;
  box-sizing: border-box;
}
#floor {
  background-color: rgb(82, 82, 82);
  grid-column: 2/5;
  grid-row-start: 2;
  z-index: -2;
}
#back-window {
  grid-column: 2/5;
  grid-row-start: 1;
  position: absolute;

  background-color: tomato;
}

#stand {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  opacity: 0.7;
  top: 70%;
  width: 340px;
  height: 400px;
  background: -moz-linear-gradient(45deg, rgb(0, 60, 255), rgb(0, 119, 255));
  background: -webkit-linear-gradient(
    45deg,
    rgb(0, 102, 255),
    rgb(0, 183, 255)
  );
  -moz-background-origin: border;
  background-origin: border-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 12px #0cc, 0 0 12px #0cc, inset -999px 0 0 #fff;
  z-index: -1;
}
.btn {
  border-radius: 50%;
  font-size: 40px;
  border-bottom: 7px solid rgb(34, 214, 238);
  border-top: none;
  color: rgba(0, 0, 0, 0);
}
#btn1 {
  grid-column-start: 2;
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(208, 255, 0) 3%,
    rgb(139, 137, 0) 60%,
    rgb(15, 14, 0) 100%
  );
}
#btn2 {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(238, 58, 58) 3%,
    rgb(167, 22, 17) 60%,
    rgb(27, 3, 3) 100%
  );
  grid-row-start: 2;
  grid-column-start: 3;
}
#btn3 {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(29, 216, 4) 3%,
    rgb(32, 109, 22) 60%,
    rgb(9, 27, 3) 100%
  );
  grid-row-start: 3;
  grid-column-start: 2;
}
#btn4 {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(46, 77, 251) 3%,
    rgb(9, 26, 179) 60%,
    rgb(15, 14, 0) 100%
  );
  grid-row-start: 2;
  grid-column-start: 1;
}
#btn1:active {
  background: radial-gradient(
    circle at 65% 15%,
    rgb(247, 255, 136) 1px,
    rgb(193, 212, 15) 3%,
    rgb(116, 114, 0) 60%,
    rgb(15, 14, 0) 100%
  );
}
#btn2:active {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(170, 39, 6) 3%,
    rgb(136, 16, 12) 60%,
    rgb(27, 3, 3) 100%
  );
}
#btn3:active {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(25, 153, 8) 3%,
    rgb(26, 92, 17) 60%,
    rgb(9, 27, 3) 100%
  );
}
#btn4:active {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(28, 61, 247) 3%,
    rgb(10, 22, 131) 60%,
    rgb(15, 14, 0) 100%
  );
}
.light {
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(20, 20, 20);
}
#light1 {
  grid-column-start: 2;
  background: radial-gradient(
    circle at 80% 35%,
    rgb(223, 236, 100) 1px,
    rgb(167, 204, 4) 10%,
    rgb(139, 137, 0) 60%,
    rgb(15, 14, 0) 100%
  );
  justify-content: center;
}
#light2 {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(245, 150, 150) 3px,
    rgb(224, 59, 18) 10%,
    rgb(167, 22, 17) 60%,
    rgb(27, 3, 3) 100%
  );
  grid-row-start: 2;
  grid-column-start: 3;
  justify-content: center;
}
#light3 {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(124, 235, 114) 3px,
    rgb(48, 214, 26) 10%,
    rgb(32, 109, 22) 60%,
    rgb(9, 27, 3) 100%
  );
  grid-row-start: 3;
  grid-column-start: 2;
  justify-content: center;
}
#light4 {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(102, 170, 233) 3px,
    rgb(58, 85, 236) 10%,
    rgb(9, 26, 179) 60%,
    rgb(15, 14, 0) 100%
  );
  grid-row-start: 2;
  grid-column-start: 1;
  justify-content: center;
}

.lit {
}
#light1.lit {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(215, 216, 208) 1px,
    rgb(192, 221, 61) 30%,
    rgb(196, 193, 56) 60%,
    rgb(189, 185, 139) 100%
  );
}
#light2.lit {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(233, 220, 220) 3px,
    rgb(216, 117, 92) 30%,
    rgb(206, 107, 104) 60%,
    rgb(196, 158, 158) 100%
  );
}
#light3.lit {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(209, 228, 207) 3px,
    rgb(133, 204, 124) 30%,
    rgb(120, 190, 110) 60%,
    rgb(130, 158, 120) 100%
  );
}
#light4.lit {
  background: radial-gradient(
    circle at 80% 35%,
    rgb(202, 213, 223) 3px,
    rgb(104, 120, 209) 30%,
    rgb(84, 96, 207) 60%,
    rgb(167, 169, 209) 100%
  );
}

#title {
  display: flex;
  grid-column-start: 2;
  font-family: outage;
  font-style: normal;
  font-size: 390%;
  color: rgb(70, 70, 70);
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: url(/Photos/galaxy3.png);
  
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
@font-face {
  font-family: "outage";
  src: url(Fonts/Outage\ Cut.ttf);
  font-style: normal;
}
@font-face {
  font-family: "mission";
  src: url(Fonts/SpaceMission-rgyw9.otf);
  font-style: normal;
}
#message {
  grid-row-start: 2;
  grid-column-start: 2;
  font-family: alarm2;
  font-style: normal;
  color: rgb(12, 161, 12);
  font-size: 170%;

  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  margin-bottom: 1%;
  background-color: black;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 20px;
  height: 70%;
  max-height: 70%;
  overflow: hidden;
}
#message span {
  position:absolute;

}
#message img {
  height: 40px;
  position:absolute;
  overflow: hidden;
}
@font-face {
  font-family: "alarm";
  src: url(Fonts/TickingTimebombBB.ttf);
  font-style: normal;
}
@font-face {
  font-family: "alarm2";
  src: url(Fonts/digital-7.ttf);
  font-style: normal;
}
@font-face {
  font-family: outage1;
  src: url(Fonts/Outage.ttf);
  font-style: normal;
}
#health {
  font-family: outage1;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: rgb(93, 88, 88);
  overflow: hidden;
  color: white;
  font-size: 20px;
  height: 11%;
  width: 80%;
  margin-left: 27%;
  border-radius: 10px;
  border: 5px solid #111;
  line-height: 30px;

  text-align: center;
  margin-top: 10%;
  padding: 2%;
  opacity: 0.85;
}
#rocket-container {
  background-color: rgb(129, 129, 129);
  height: 60%;
  margin: 0 6% 10% 6%;
  border-radius: 10%;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* display:grid;
   grid-template-columns: 1fr 1fr 1fr; */
}
.rocket {
  height: 75%;
  width: 30%;
}
#rocket1 {
  grid-column-start: 1;
  grid-row-start: 1;
}
#mute {
  grid-column-start: 3;
  grid-row-start: 1;
  font-size: 29px;
  height: 50px;
  margin-top: 10%;
}
